In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [3]:
# select the preTestScore column
df['preTestScore']

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [4]:
# find the standard deviation of preTestScore 

df.preTestScore.std()

13.663820841916802

In [10]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
pTS_mean = df['preTestScore'].mean() # Find mean of the preTestScore Column
pTS_mean

12.8

In [9]:
# select the rows in preTestScore with scores greater than the mean

df[df['preTestScore']> pTS_mean] # select all columns in DF that are greater than the mean

    name  age  preTestScore  postTestScore
1  Molly   52            24             94
2   Tina   36            31             57

In [12]:
# create a new column that shows the score change from 
# preTestScore to postTestScore

df['TestDiff'] = (df['postTestScore']-df['preTestScore'])

In [13]:
df[]

    name  age  preTestScore  postTestScore  TestDiff
0  Jason   42             4             25        21
1  Molly   52            24             94        70
2   Tina   36            31             57        26
3   Jake   24             2             62        60
4    Amy   73             3             70        67